pattern of asterisk in incresing order

In [1]:
n = 10
for i in range(n):
    print("*"*i,end="")
    print()

*
**
***
****
*****
******
*******
********
*********

In [3]:
#pattern of numbers in right triangle

n = 9
for i in range(1,n+1):
    print(str(i)*i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [27]:
#print numbers in pyramid shape
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(end=" ")
    for j in range(i):
        print(i,end=" ")
    print()

print()
for i in range(1,n+1):
    print(" "*(n-i)+str(i)*(2*i-1))

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

    1
   222
  33333
 4444444
555555555

In [28]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i)+str(i)*(2*i-1))

    1
   222
  33333
 4444444
555555555

In [54]:
#character in incresing order

n = 5
start_char = ord('A')
for i in range(n+1):
    print(" "*(n-i)+chr(start_char+i-1)*(2*i-1))

for i in range(n+2):
    print((chr(start_char+i-2)+" ")*(i-1))

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE


A
B B
C C C
D D D D
E E E E E

In [118]:
n = 5
for i in range(n+2):
    print((chr(start_char+i-2)+" ")*(i-1))
print()
for i in range(n):
    print((chr(start_char+i)+" ")*(n-i))

A
B B
C C C
D D D D
E E E E E

A A A A A
B B B B
C C C
D D
E

In [77]:
#print the pattern of alphabets in reverse triangle

n = 5
start_char = ord('A')

for i in range(n):
    print((chr(start_char+i)+" ")*(n-i))

A A A A A
B B B B
C C C
D D
E

In [102]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(chr(start_char+i),end=" ")
    for j in range(i+1):
        print(end=" ")
    print()

A A A A A
B B B B
C C C
D D
E

In [101]:
n = 5
for i in range(n,0,-1):
    print(" "*(n-i)+chr(start_char+n-i)*(2*i-1))

AAAAAAAAA
 BBBBBBB
  CCCCC
   DDD
    E

In [163]:
#diamond alphabet pattern

n = 5
start_char = ord('A')
 
for i in range(n+1):
    print(" "*(n-i)+chr(start_char+i-1)*(2*i-1))

for i in range(n-1,0,-1):
    print(" "*(n-i)+chr(start_char+i-1)*(2*i-1))

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE
 DDDDDDD
  CCCCC
   BBB
    A

In [168]:
#staircase pattern number

n = 5

for i in range(1,n+1):
    for j in range(n-i):
        print(end=" ")
    for j in range(i):
        print(i,end=" ")
    print()
print()

for i in range(1,n+1):
    print(" "*(n-i)+(str(i)+" ")*(i))

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [172]:
#pattern of numbers in diamond shape

n = 5

for i in range(1,n+1):
    print(" "*(n-i)+(str(i)+" ")*(i))
for i in range(n-1,0,-1):
    print(" "*(n-i)+(str(i)+" ")*i)

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [177]:
#squre with alternating characters

n = 5

for i in range(n):
    if i%2==0:
        print("@"*n)
    else:
        print("!"*n)

@@@@@
!!!!!
@@@@@
!!!!!
@@@@@

In [180]:
#hollow square

n = 5 

for i in range(n):
    if i==0 or i==n-1:
        print("*"*n)
    else:
        print("*"+" "*(n-2)+"*")

*****
*   *
*   *
*   *
*****

In [182]:
#incremental pattern of number in diamond shape

n = 5

for i in range(1,n+1):
    print(" "*(n-i)+" ".join(str(k) for k in range(i,2*i)))
for i in range(n-1,0,-1):
    print(" "*(n-i)+" ".join(str(k) for k in range(i,2*i)))

    1
   2 3
  3 4 5
 4 5 6 7
5 6 7 8 9
 4 5 6 7
  3 4 5
   2 3
    1

In [188]:
#alphabet in hollow square

n = 5

for i in range(n):
    if i == 0 or i == n-1:
        print(" ".join(chr(start_char+j) for j in range(n)))
    else:
        print(chr(start_char+i)+" "*(n+2)+ chr(start_char+i))

A B C D E
B       B
C       C
D       D
A B C D E

In [234]:
#alphabet pattern diamond shape

n = 5
start_char = ord('A')

for i in range(1,n+1):
    print(" "*(n-i)+" ".join(chr(start_char+j) for j in range(i)))
    if i!=n:
        start_char+=i

for i in range(n-1,0,-1):
    start_char-=i
    print(" "*(n-i)+" ".join(chr(start_char+j) for j in range(i)))

    A
   B C
  D E F
 G H I J
K L M N O
 G H I J
  D E F
   B C
    A

In [255]:
#hollow diamond
n = 5
for i in range(1,n+1):
    if i==1 or i==2:
        print(" "*(n-i)+("*"+" ")*i)
    else:
        print(" "*(n-i)+"*"+" "*(2*i-3) + "*")

for i in range(n-1,0,-1):
    if i==1 or i==2:
        print(" "*(n-i)+("*"+" ")*i)
    else:
        print(" "*(n-i)+"*"+" "*(2*i-3)+"*")

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *